*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "comic sans ms", "comic sans", cursive;
}

header{
    padding: 50px 50px 5px;
    margin: 50px 60px 5px;
}

h1{
    font-size: 50px;
    position: absolute;
}

header>img{
    max-width: 100%;
}

main{
height: 100px;
padding: 0px 50px 0px;
margin: 0px 60px 0px;
}

.subtitulo{
    width: auto;
font-size: 25px;
background-color: black;
color: white;
text-align: center;
position: relative;
}

.imagen1{
    position: absolute;
    bottom: -35px;
    left: 55px;
}

.logo{
    position: absolute;
    bottom: -60px;
    left: 685px;
}

a{
    display: block ;
    padding: 25px;
}

h4{
    font-style: bold;
    font-style: italic ;
}

nav{
    display: inline-block;
    padding: 50px 50px 0px 0px;
    margin: 35px 0px 0px;
    position: absolute;
}

.container {
    width: 600px;
    display: inline-block;
    position: relative;
    left: 200px;
    top: 100px;
}

div.evento{
    padding: 8px;
}

.containerAbout{
    width: 600px;
    display: inline-block;
    position: relative;
    left: 200px;
    top: 100px;
}

.containerContact{
    width: 600px;
    display: inline-block;
    position: relative;
    left: 200px;
    top: 100px;
}