*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}


header{
    width: 100%;
    height: 200px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo>img{
    width: 60%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 11%;
    z-index: 0;
    opacity: 0.2;
    margin: 10px 0px 0px;
}

h1 {
    width: auto;
    font-size: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    padding: 30px 10px 30px;
    margin: 0px 0px 50px;
    background: gold;

}

h3 {
    margin: 2px;
    font-size: 45px;
    font-weight: normal;
    background-color: black;
    color: white;
    padding: 10px 0px 15px;
    WIDTH: 555px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: auto;
    height: 2px;
}

nav>a{
    text-decoration: none;
    background: whitesmoke;
    color: black;
    box-shadow: 4px 4px gold;
    width: 220px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin: 12px 40px 12px;
}

a[href="#"]{
    transform: translateX(-20px);
}

.subtitulo{
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    margin: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.evento {
    margin: 20px;
}

h4 {
    font-size: 21px;
    border: thin solid black;
    padding: 0px 15px 5px;
    margin: 0px 0px 5px;
    display: inline-block;
    background: gold;
}

.evento>p{
    font-size: 20px;
}

.containerAbout{
    text-align: center;
    margin: 80px;
    font-size: 25px;
    padding: 0px 300px
}

.containerContact{
    text-align: center;
    margin: 80px;
    font-size: 25px;
}

.containerContact>p{
    margin: 10px;
}

.containerImagenes{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 250px;
    justify-content: space-between;
    position: fixed;
    top: 18%;
    margin-left: 40px;
}

